@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lilita+One&display=swap');

*{
    margin: 0;
}
body {
    background-color: #EEECFA;
    color: #1D1D1D;
    overflow-x: hidden;
}
h1 {
    margin-bottom: 1.46vw;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px 20px 150px;
    font-family: "Khula", sans-serif;
    font-weight: 900;
}
.headerLogo {
    width: 7.32vw;
}
.headerSectionButton {
    position: relative;
    top: 1vw;
    gap: 3.66vw;
    display: flex;
}
.headerSectionButton a{
    text-decoration: none;
    color: #1D1D1D;
    font-size: 1.17vw;
}
.headerLogin {
    position: relative;
    top: 1vw;
    font-family: "Khula", sans-serif;
    font-weight: 900;
    color: #EEECFA;
    background-color: #91FD00;
    border: 0px;
    padding: 0.36vw 1.83vw 0.36vw 1.83vw;
    border-radius:1vw;
    font-size: 1.17vw;
    word-spacing: 5px;
    cursor: pointer;
}

/* HOME */
#home {
    position: relative;
}
.homeContent {
    height: 32.94vw;
    max-width: 60vw;
    padding-inline: 10.98vw;
    padding-top: 7.32vw;
    display: flex;
    flex-direction: column;
    font-family: "Lilita One", sans-serif;
    font-size: 2.19vw;
}
.homeButtonContainer {
    padding-top: 0.73vw;
    display: flex;
    gap: 3.66vw;
}
.homeButton {
    width: 16.10vw;
    height: 3.51vw;
    font-family: "Khula", sans-serif;
    font-weight: 900;
    font-size: 1.45vw;
    color: #EEECFA;
    background-color: #91FD00;
    border: 0px;
    border-radius: 15px;
    padding: 0.36vw 2.56vw 0.36vw 2.56vw;
}
.homeBotton {
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #91FD00;
    width: 100vw;
    height: 6vh;
    z-index: -1;
}
.homeImage {
    position: absolute;
    right: 1.46vw;
    bottom: 0px;
    width: 40.2vw;
}

/* SOBRE */

