body{
    background-image: url(../assets/homeBackground.png);
    background-size: cover;
    width: 100vw;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    overflow-x: hidden;
}
/* HEADER ---------------------------------------------------------- */
header{
    background-color: #1d1d1d;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 10px 5%;
    display: flex;
    height: 8vh;
    z-index: 3;
    top: 0;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.377);
}
.headerLogo{
    height: 45px;
    cursor: pointer;
}
/* BARRA PESQUISA--------------------------------------------------- */
.barraPesquisa{
    border: 2px solid white;
    align-items: center;
    border-radius: 10vw;
    display: flex;
    height: 56%;
    width: 45%;
}
.iconPesquisa{
    height: 100%;
    padding-block: 1vh;
    margin-right: 2%;
    margin-left: 2.5%;
    font-size: 20px;
    color: #00fa38;
    align-items: center;
    justify-content: center;
}
.inputPesquisa{
    height: 100%;
    width: 100%;
    border-radius: 0 10vw 10vw 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding-inline: 3%;
}
/* AREA DO USUÁRIO ------------------------------------------------ */
.headerUserArea{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 8%;
    transition: color 0.3s linear;
}
.iconSino{
    color: white;
    font-size: 25px;
    display: flex;
    transition: color 0.3s ease;
    cursor: pointer;
}
.iconSino:hover{
    color: #00fa38;
    cursor: pointer;
}
.iconPfp{
    height: 70%;
    cursor: pointer;
}
/* MODAL USUARIO --------------------------------------------------------- */
.modal-perfil-container{
    position: fixed;
    right: 4%;
    top: -15%;
    width: 20vw;
    height: 10vw;
    background-color: #1d1d1d;
    z-index: 2;
    border-radius: 0 0 2vw 2vw;
    border-inline: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 15%;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 50px 0 rgb(0, 0, 0, 0.5);
    transition: top 0.5s ease;
}
.modal-perfil-option{
    color: white;
    font-size: 1rem;
    border-radius: 1vw;
    height: 41%;
    width: 90%;
    padding-left: 10%;
    align-items: center;
    display: flex;
    gap: 10%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.modal-perfil-option:hover{
    background-color: #0c0c0ca9;
    transition: background-color 0.2s ease;
}
.ativo{
    top: 10%;
}