@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Khula:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
}
body{
    background-color: #0c0c0c;
    width: 100vw;
    font-family: "Khula", sans-serif;
}
/* HEADER ---------------------------------------------------------- */
header{
    background-color: #1d1d1d;
    justify-content: space-between;
    height: 10vh;
    display: flex;
    padding: 10px 5%;
    align-items: center;
}
.headerLogo{
    height: 50px;
}
/* BARRA PESQUISA--------------------------------------------------- */
.barraPesquisa{
    display: flex;
    width: 45%;
    height: 56%;
    align-items: center;
    border: 2px solid white;
    border-radius: 10vw;
}
.iconPesquisa{
    height: 100%;
    padding-block: 1vh;
    margin-right: 2%;
    margin-left: 2.5%;
    font-size: 20px;
    color: #00fa38;
    align-items: center;
    justify-content: center;
}
.inputPesquisa{
    height: 100%;
    width: 100%;
    border-radius: 0 10vw 10vw 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding-inline: 3%;
}
/* AREA DO USUÁRIO ------------------------------------------------ */
.headerUserArea{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 10%;
    transition: color 0.3s linear;
}
.iconSino{
    height: 50%;
    width: 25%;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s linear;
    background-color: #0c0c0c;
}
.iconSino:hover{
    color: #00fa38;
}
.iconPfp{
    height: 85%;
}
/* FEED ---------------------------------------- */
main{
    display: flex;
    justify-content: center;
}
.feed{
    margin-top: 7%;
    width: 50%;
    height: fit-content;
    background-color: #1d1d1d;
    border-radius: 1.5vw;
}
.feedSection{
    color: white;
    font-weight: 900;
    font-size: larger;
    margin: 2% 0 1.4% 0;
    display: flex;
}
.feedSection a{
    margin-left: 4%;
}
.feedPost{

}