@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lexend+Deca:wght@100..900&family=Lilita+One&display=swap');
*{
    margin: 0;
} 
body{
    background-image: url(../assets/homeBackground.png);
    background-size: cover;
    width: 100vw;
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    overflow-x: hidden;
}
/* HEADER ---------------------------------------------------------- */
header{
    background-color: #1d1d1d;
    justify-content: space-between;
    height: 8vh;
    display: flex;
    padding: 10px 5%;
    align-items: center;
    position: sticky;
    top: 0;
}
.headerLogo{
    height: 45px;
}
/* BARRA PESQUISA--------------------------------------------------- */
.barraPesquisa{
    display: flex;
    width: 45%;
    height: 56%;
    align-items: center;
    border: 2px solid white;
    border-radius: 10vw;
}
.iconPesquisa{
    height: 100%;
    padding-block: 1vh;
    margin-right: 2%;
    margin-left: 2.5%;
    font-size: 20px;
    color: #00fa38;
    align-items: center;
    justify-content: center;
}
.inputPesquisa{
    height: 100%;
    width: 100%;
    border-radius: 0 10vw 10vw 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding-inline: 3%;
}
/* AREA DO USUÁRIO ------------------------------------------------ */
.headerUserArea{
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 8%;
    transition: color 0.3s linear;
}
.iconSino{
    color: white;
    font-size: 25px;
    display: flex;
    transition: color 0.3s ease;
    cursor: pointer;
}
.iconSino:hover{
    color: #00fa38;
    cursor: pointer;
}
.iconPfp{
    height: 70%;
}
/* FEED ---------------------------------------- */
main{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.feed{
    margin-top: 2%;
    width: 50%;
    height: fit-content;
    background-color: #1d1d1d;
    border-radius: 1.5vw;
}
.feedSection{
    color: white;
    font-size: larger;
    padding: 2% 0 1.4% 0;
    display: flex;
    border-bottom: 1px solid #0c0c0c;
}
.feedSection a{
    margin-left: 4%;
    font-family: 'Khula', sans-serif;
    font-weight: 800;
}
/* POST ------------------------------------------------------- */
.feedPost{
    padding:3% 2%;
    color: white;
}
.postUserInfo{
    align-items: center;
    display: flex;
    margin-bottom: 3%;
}
.iconPost{
    width: 5.8%;;
}
.postUserText{
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding-top: 1%;
    margin-left: 2%;
}
.postUserNome{
    font-weight: 700;
    font-size: 1.1vw;
}
.postUserHora{
    font-weight: 300;
    font-size: 0.9em;
    color: #9a9a9a;
}
.feedPost h2{
    margin-bottom: 1%;
    font-size: 1.3vw;
}
.postTexto{
    font-size: 1.2vw;
    color: #9a9a9a;
    word-break: break-all;
}
.partyList{
    margin-top: 2%;
    display: flex;
    gap:2.5%
}
.partyList img:hover{
    cursor: pointer;
}
.postInteracao{
    margin-top: 3%;
    display: flex;
    gap: 5%
}
.interacao{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: 200;
}
.postInteracaoIcon{
    font-size: 1.6vw;
}
.postContentContainer{
    width: 100%;
    cursor: pointer;
}
.evidenciarElementoHover{
    color: #00fa38;
}
.fa-heart{
    cursor: pointer;
}
.fa-comments{
    cursor: pointer;
}
/* CONTAINER DA DIREITA ---------------------------------------- */
.secondContainer{
    background-color: #1d1d1d;
    flex-direction: column;
    align-items: start;
    border-radius: 2vw;
    margin-top: 2%;
    padding: 1.5%;
    color: white;
    display: flex;
    width: 12.5%;
}
.secondContainerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 9% 10%;
    width: max-content;
    border-radius: 2vw;
}
.secondContainerCard:hover{
    background-color: #373737;
    cursor: pointer;
}
.secondContainerCard i{
    background-color: #00fa38;
    padding: 15%;
    font-size: 150%;
    border-radius: 10vw;
    color: black;
    margin-bottom: 10%;
}
.secondContainerTitulo{
    font-weight: 800;
    font-family: 'Khula', sans-serif;
}