@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lexend+Deca:wght@100..900&family=Lilita+One&display=swap');
*{
    margin: 0;
} 
/* FEED ---------------------------------------- */
main{
    display: flex;
    justify-content: center;
    gap: 2%;
}
.feed{
    margin-block: 2%;
    width: 50%;
    height: fit-content;
    background-color: #1d1d1d;
    border-radius: 1.5vw;
}
.feedSection{
    color: white;
    font-size: larger;
    padding: 2% 0 1.4% 0;
    display: flex;
    border-bottom: 1px solid #0c0c0c;
}
.feedSection a{
    margin-left: 4%;
    font-family: 'Khula', sans-serif;
    font-weight: 800;
}
/* POST ------------------------------------------------------- */
.feedPost{
    padding:3% 2%;
    color: white;
    border-bottom: 1px solid #0c0c0c;
}
.postUserInfo{
    align-items: center;
    display: flex;
    margin-bottom: 3%;
}
.iconPost{
    width: 5.8%;;
}
.postUserText{
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding-top: 1%;
    margin-left: 2%;
}
.postUserNome{
    font-weight: 700;
    font-size: 1.1vw;
}
.postUserHora{
    font-weight: 300;
    font-size: 0.9em;
    color: #9a9a9a;
}
.feedPost h2{
    margin-bottom: 1%;
    font-size: 1.3vw;
}
.postTexto{
    font-size: 1.2vw;
    color: #9a9a9a;
    word-break: break-all;
}
.partyList{
    margin-top: 2%;
    display: flex;
    gap:2.5%
}
.partyList img:hover{
    cursor: pointer;
}
.postInteracao{
    margin-top: 3%;
    display: flex;
    gap: 5%
}
.interacao{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: 200;
}
.postInteracaoIcon{
    font-size: 1.6vw;
}
.postContentContainer{
    width: 100%;
    cursor: pointer;
}
.evidenciarElementoHover{
    color: #00fa38;
}
.fa-heart{
    cursor: pointer;
}
.fa-comments{
    cursor: pointer;
}
/* CONTAINER DA DIREITA ---------------------------------------- */
.secondContainer{
    background-color: #1d1d1d;
    flex-direction: column;
    align-items: start;
    border-radius: 2vw;
    margin-top: 2%;
    padding: 1.5%;
    color: white;
    display: flex;
    /* width: 13%; */
    height: fit-content;
    position: sticky;
    top: 10%;
}
.secondContainerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.9em 1em;
    width: max-content;
    border-radius: 2vw;
}
.secondContainerCard:hover{
    background-color: #373737;
    cursor: pointer;
}
.secondContainerCard i{
    background-color: #00fa38;
    padding: 15%;
    font-size: 150%;
    border-radius: 10vw;
    color: black;
    margin-bottom: 10%;
}
.secondContainerTitulo{
    font-weight: 800;
    font-family: 'Khula', sans-serif;
}
/* MODA PUBLICAR ----------------------------------------------------- */
.modalPublicar{
    position: fixed;
    width: 60vw;
    height: 80vh;
    background-color: white;
    border-radius: 1.5vw;
    margin-top: 2%;
    box-sizing: border-box;
    display: none;
}
.modalPublicarTitulo{
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modalPublicarTitulo i{
    font-size: 1.7em;
    height: 100%;
    margin-top: auto;
}
.modalPublicarTitulo i:hover{
    color: #00fa38;
    cursor: pointer;
}
.modalPublicarContent{
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.modalPublicarContent button{
    width: fit-content;
    padding: 1% 2.5%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 1vw;
    border: 0.2vh solid #0c0c0c;
    cursor: pointer;
    align-self: center;
}
.titulo-container{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.modal-post-title{
    padding: 1.5% 1%;
    font-size: 16px;
    border-radius: 1vw;
    border: 1px solid #0c0c0c;
    outline: none;
}
.modal-post-title:focus{
    border-color:#00fa38;
}
.modal-post-title::placeholder{
    font-size: 0.85rem;
}
.conteudo-container{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.modal-post-content{
    border-radius: 1vw;
    border: 1px solid #0c0c0c;
    font-size: 16px;
    padding: 1.5% 1%;
    font-family: "Lexand Deca", sans-serif;
    outline: none;
}
.modal-post-content:focus{
    border-color: #00fa38;
}
.img-uploader{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
/* .modal-post-img{
} */