@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Lexend+Deca:wght@100..900&family=Lilita+One&display=swap');
* {
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    backdrop-filter: brightness(60%);
    overflow-x: hidden;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
main {
    width: 100vw;
    height: 100vh;
}
header {
    padding-inline: 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-block: 15px;
    position: sticky;
    top: 0;
    transition: all 0.5s;
    background-color: transparent;
}
.header.solid{
    background-color: #1d1d1d;
}
#home{
    height: 74%;
    width: 100%;
}
.homeEfeito{
    margin: 0;
    bottom: 19%;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: -1;
}
.homeButton{
    background-color: #1d1d1d;
    color: #00fa38;
    border-radius: 10px;
    border: 0;
    width: max-content;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 16px;
    border: 0;
}
.homeButton:hover{
    cursor: pointer;
    outline: 1px solid #00fa38;
}
.headerEfeito {
    position: absolute;
    transform: scaleY(-1) scaleX(-1);
    width: 100vw;
    height: 13vh;
    z-index: -1;
    top: 0;
}
.logoHeader {
    width: 150px;
    filter: drop-shadow(0px 0px 2px #000000a3);
}
.headerButton {
    font-family: "Khula", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 20px;
    margin-top: 5px;
    font-weight: 800;
    display: flex;
    gap: 20px;
    color: white;
}
.headerButton a{
    transition: color 0.2s ease-in;
    text-decoration: none;
    color: white;
}
.headerButton a:hover{
    color: #00fa38;
    transition: color 0.5s ease;
}
.headerLogin {
    font-family: "Khula", sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding-top: 4px;
    padding-inline: 25px;
    border: 2px solid #1d1d1d;
    background-color: white;
    text-transform: uppercase;
    border-radius: 15px;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.5s ease;
}
.headerLogin:hover{
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.5s ease;
    background-color: #00fa38;
    color: black;
    border-color: white;
}
.headerButtonContainer {
    display: flex;
    align-items: center;
}
.homeContent {
    font-family: "Khula", sans-serif;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 100%;
    margin-top: 8%;
    gap: 4%;
}
h1{
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
}
.legenda{
    line-height: 120%;
    color: white;
    font-weight: 200;
    font-size: 1.35rem;
    font-family: 'Lexend Deca', sans-serif;
}
.headerBlock{
    background-color: #1d1d1d;
}
/* SOBRE--------------------------------------------------------------- */
#sobreProjeto{
    background-color: #1d1d1d;
    color: white;
    font-family: 'Khula', sans-serif;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
#sobreProjeto .titulo{
    padding-block: 6%;
    text-align: center;
}
.sobreContent{
    margin-inline: 5%;
    width: 100%;
    gap: 2%;
    display: flex;
}
.sobreContentText{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.sobreButton{
    margin-top: 2%;
    background-color: #00fa38;
    color: #1d1d1d;
    border-radius: 10px;
    border: 0;
    width: max-content;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 16px;
    border: 0;
}
.sobreButton:hover{
    cursor: pointer;
    outline: 2px solid white;
}
.sobreImg{
    width: 45%;
    border-radius: 2vw;
}
.sobreImg2{
    width: 45%;
    border-radius: 2vw;
}
/* SOBRE DEV */
#sobreDesenvolvedor{
    background-color: #1d1d1d; 
    font-family: 'Khula', sans-serif;
    color: white;
    overflow: hidden;
}
#sobreDesenvolvedor .titulo{
    padding-top: 7%;
    padding-bottom: 6%;
    text-align: center;
}
.sobre-dev-content{
    transform: translateY(-10%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2vw;
    align-items: center;
    overflow: hidden;
    height: 83.8vh;
    border-bottom: 1px solid #00fa38;
    text-align: center;
}
.sobre-content-img{
    height: 40vw;
    /* position: absolute; */
}
.foto-sobre{
    border-radius: 100vw;
    width: 20vw;
    margin-inline: auto;
    border: 1px solid #1d1d1d;
}
.info-dev-container{
    border-radius: 20vw 20vw 0 0;
    width: 20vw;
    height: 36vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    background-color: #00fa38;
}
.banana{
    position: absolute;
    margin-inline: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banana i{
    margin: auto;
    color: black;
    font-size: 3rem;
}
.banana h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.2rem;
    margin-top: 5vh;
    color: #00fa38;
    text-shadow: 2px 0 #0c0c0c, -2px 0 #0c0c0c, 0 2px #0c0c0c, 0 -2px #0c0c0c,
    1px 1px #0c0c0c, -1px -1px #0c0c0c, 1px -1px #0c0c0c, -1px 1px #0c0c0c;
}
#img1{
    transform: translateX(-20%);
    /* position: absolute; */
}
#img2{
    width: 63vw;
    transform: translateX(30%) translateY(10%);
    /* height: 20vw; */
}
/* GAMBIARRA DE COR ---------------------------------------------------------- */
h1 span:nth-child(10n + 1){
    color: red;
}
h1 span:nth-child(10n + 2){
    color: orange;
}
h1 span:nth-child(10n + 3){
    color: yellow;
}
h1 span:nth-child(10n + 4){
    color: green;
}
h1 span:nth-child(10n + 5){
    color: blue;
}
h1 span:nth-child(10n + 6){
    color: purple;
}
h1 span:nth-child(10n + 7){
    color: blue;
}
h1 span:nth-child(10n + 8){
    color: green;
}
h1 span:nth-child(10n + 9){
    color: yellow;
}
h1 span:nth-child(10n + 10){
    color: orange;
}
h1 span:nth-child(10n + 11){
    color: red;
}