*{
    margin: 0;
}
main{
    margin-top: 20vh;
    width: 80vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}
hr{
    width: 80vw;
    border-color: #0c0c0c;
}
.header-pf{
    width: 80vw;
    height: 22vh;
    display: flex;
    /* justify-content: space-between; */
}
.header-bg-img{
    width: 80vw;
    position: absolute;
    z-index: -1;
}
.header-pf-img{
    top: 9vw;
    left: 15.8vw;
    width: 11%;
    position: absolute;
}
.header-pf-img-container{
    width: fit-content;
    height: fit-content;
}
.header-pf-img-container:hover{
    background-color: black;
}
.header-username{
    height: 100%;
    display: flex;
    padding-top: 8%;
    padding-left: 7%;
}
.header-username span{
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
}
.header-buttons{
    align-items: center;
    margin-left: auto;
    display: flex;
    padding: 20px;
    height: 5vh;
    gap: 20px;
}
.fa-gear{
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease;
}
.fa-gear:hover{
    color: #00fa38;
    cursor: pointer;
}
.header-buttons button{
    border-radius: 1vw;
    /* height: 30%; */
    padding: 10px 15px;
    color: white;
    border: 2px solid #00fa38;
    background-color: transparent;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.header-buttons button:hover{
    color: black;
    background-color: #00fa38;
    cursor: pointer;
}
/* PUBLICAÇÕES ------------------------------------------------------------------------ */
.pf-post-container{
    box-sizing: border-box;
    width: 80vw;
    height: max-content;
    padding-top: 3vh;
    padding-bottom: 4vh;
    background-color: #1d1d1d;
    border-radius: 0 0 25px 25px;
    color: white;
    margin-bottom: 5vh;
}
.pf-post-container h1{
    margin-inline: 3vh;
}
.pf-post-section{
    display: flex;
    flex-direction: column-reverse;
}
.feedPost{
    padding-left: 4%;
}