body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #1d1d1d;
}
body::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: #00fa38;
}
.feedPost{
    padding:2% 2%;
    color: white;
    border-bottom: 1px solid #0c0c0c;
}
.postUserInfo{
    align-items: center;
    display: flex;
    margin-bottom: 2vh;
}
.iconPost{
    width: 3.5vw;
}
.postUserText{
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding-top: 1vh;
    margin-left: 2vh;
}
.postUserNome{
    font-weight: 700;
    font-size: 1.1vw;
}
.postUserHora{
    font-weight: 300;
    font-size: 0.9em;
    color: #9a9a9a;
}
.feedPost h2{
    margin-block: 1vh;
    font-size: 1.3vw;
}
.postTexto{
    font-size: 1.2vw;
    color: #9a9a9a;
    word-break: break-all;
}
.partyList{
    margin-top: 2%;
    display: flex;
    gap:2.5%
}
.partyList img:hover{
    cursor: pointer;
}
.postInteracao{
    margin-top: 1vw;
    display: flex;
    gap: 5%
}
.interacao{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: 200;
}
.postInteracaoIcon{
    font-size: 1.6vw;
}
.postContentContainer{
    width: 100%;
    cursor: pointer;
}
.evidenciarElementoHover{
    color: #00fa38;
}
.fa-heart, .fa-comments{
    cursor: pointer;
}
#feedPost{
    display: flex;
    flex-direction: column-reverse;
}